body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2A3550;
    color: #C3BEB8;
}

section {
    width: 100%;
}

.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.margin-around {
    display: flex;
    margin: 20px;
    width: calc(100% - 40px);
}

.padd-around {
    display: flex;
    padding: 20px;
    width: calc(100% - 40px);
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-center {
    justify-content: center;
}

.y-center {
    align-items: center;
}

.active a {
    color: #707070;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    width: calc(100% - 60px);
    background-color: #35415E;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

/*=============================================================
                            NAV BAR
=============================================================*/
nav, nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav {
    width: 100%;
}

nav ul {
    width: 80%;
    margin: 20px;
}

.logo-nav {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-nav img {
    width: 100px;
}

nav ul li {
    padding: 10px;
    margin: 15px;
}

nav ul li a {
    font-size: 20px;
}

@media (max-width: 979px) {
    nav ul {
        display: none;
    }
    nav {
        justify-content: center;
    }
}

/*=============================================================
                            Burger Menu
=============================================================*/
/* CORE STYLES */
:root {
    --menu-speed: 0.75s;
}

/* MENU STYLES */
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 22px;
    left: 22px;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 1rem;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    z-index: 1;
    width: 40px;
    height: 40px;
    margin: 20px;
    padding: 1rem;
    background: #2A3550;
    opacity: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: #20283d;
    opacity: 85%;
    border-radius: 50%;
    width: 250vw;
    height: 250vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

@media (min-width: 980px) {
    .menu-wrap {
        display: none;
    }
}

/*=============================================================
                            BLOC
=============================================================*/
#bloc {
    align-items: center;
}

#bloc p {
    margin: 10px 0;
}

#bloc1, #bloc2, #bloc3 {
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    height: 28vh;
}

#bloc1 div:nth-child(2) {
    justify-content: flex-end;
    height: 90%;
    display: flex;
    flex-direction: column;
}

#bloc2 div:nth-child(2) {
    justify-content: flex-end;
    height: 90%;
    display: flex;
    flex-direction: column;
}

#bloc3 div:nth-child(2) {
    justify-content: flex-end;
    height: 90%;
    display: flex;
    flex-direction: column;
}

#bloc1 {
    background-color: #CEE8CA;
    color: #4A7745;
}

#bloc2 {
    background-color: #F2BC9E;
    color: #885A40;
}

#bloc3 {
    background-color: #92C7E8;
    color: #3A7295;
}

.logo-section {
    width: 20px;
}

.skills {
    width: 110%;
    max-width: 100%;
}

.skill-bar {
    height: 6px;
    background: #cacaca;
    border-radius: 8px;
}

.skill-per {
    height: 6px;
    background-color: #edc531;
    border-radius: 8px;
    width: 0;
    transition: 1s linear;
    position: relative;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #000;
    top: -10px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

/*=============================================================
                            BUTTON
=============================================================*/
.recentproject {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    text-align: center;
    margin: 0 10px
}

.recentproject p {
    margin: 0 8px;
    font-size: 16px;
}

@media (max-width: 519px) {
    .recentproject p {
        font-size: 10px;
        margin: 0 2px;
    }
}

@media (min-width: 980px) {
    .recentproject p {
        font-size: 18px;
        margin: 0 10px;
    }
}

section:nth-child(4) div:nth-child(2) div {
    border-radius: 10px;
    border: 2px solid black;
    margin: 5px 10px;
    align-items: center;
    display: flex;
    width: calc(100% - 20px);
}

section:nth-child(4) div:nth-child(2) {
    width: 100%;
}

section:nth-child(4) div:nth-child(2) div p {
    padding: 0 2vw;
}

section:nth-child(4) div:nth-child(2) div img {
    padding: 4px 8px;
}

/*=============================================================
                            BUTTON
=============================================================*/
.btn2 {
    display: inline-block;
    color: #0b2b6d;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    background: rgb(68,113,208);
    background: linear-gradient(180deg, rgba(68,113,208,1) 0%, rgba(15,56,142,1) 71%);
}

.btn2:active{
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
    background-image: -webkit-linear-gradient(#4471d0 0%, #4471d0 100%);
    background-image: linear-gradient(#4471d0 0%, #4471d0 100%);
}

/*=============================================================
                            LINK
=============================================================*/
.link {
    position: relative;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #707070;
    top: 100%;
    left: 0;
}

.link::before {
    content: '';
}

.link--metis::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.7s;
}

.link--metis:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}
