#bleu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;

    background: linear-gradient(0deg, rgba(68,113,208,1) 0%, rgba(15,56,142,1) 86%);
}

nav{
    width: 100%;
}

.white{
    color: white;
}

.white a{
    margin: 100px;
}

.logo-nav {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
