section {
    width: 100%;
}

.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.margin-around {
    display: flex;
    margin: 20px;
    width: calc(100% - 40px);
}

.padd-around {
    display: flex;
    padding: 20px;
    width: calc(100% - 40px);
}

.column {
    display: flex;
    flex-direction: column;
}
svg{
    margin-bottom: -8px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceAround {
    display: flex;
    justify-content: space-around;
}

#burger-container p {
    font-size: 26px;
    font-weight: bold;
}

#footer-logo {
    width: 30px;
}


#foot {
    background: rgb(68,113,208);
    background: linear-gradient(0deg, rgba(68,113,208,1) 0%, rgba(15,56,142,1) 86%);
}

footer .padd-around {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .padd-around ul li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}

footer .padd-around p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    font-size: 22px;
}

footer div {
    color: white;
}

.colab {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: normal;
}

#logo-container {
    margin: 10px 80px;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

#logo-container h2 {
    text-align: center;
}

.containers:hover {
    box-shadow: rgba(25, 54, 80, 0.1) 0px 23px 50px 0px;
}

.border-logos {
    border: 1px solid rgb(234, 236, 238);
    background-color: white;
    border-radius: 6px;
    transition: box-shadow 0.19s ease-out 0s;
    margin: 10px 10px;
    min-width: 250px;
}

.shadow-logos {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
}

#logo-container hr {
    width: 100%;
    color: rgb(234, 236, 238);
}

#croix-rouge {
    width: 69%;
    min-width: 114px;
}

#banque-alimentaire {
    width: 62%;
    padding: 10px;
    min-width: 128px;
}

#resto-du-coeur {
    width: 68%;
    padding-bottom: 4px;
    min-width: 119px;
}

#secours-populaire {
    width: 70%;
    min-width: 122px;
}